<!DOCTYPE html>
<html>

<head>
  <title>MadLibs with Punch!</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <meta charset='utf-8'>
</head>

<body>
  <h1>Pick a MadLib!</h1>
  <form action="/form" method="post">
    <label for="madlib">Choose a MadLib:</label>
    <select id="madlib" name="madlib">
      <option value="squirm">Squirm</option>
      <option value="punch">Punch</option>
      <option value="grambie">Grambie</option>
      <option value="qwamp">Qwamp</option>
    </select>
    <button type="submit">Go!</button>
  </form>
</body>

</html> 